<section
  class="flex space-x-2 mx-auto max-md:flex-col text-(--color-azure-500) max-lg:py-10 lg:px-22"
>
  <form (ngSubmit)="generate()" class="p-6 space-y-4 w-full rounded">
    <h2 class="mb-3 text-xl font-semibold">README Generator</h2>
    <div>
      <p class="block text-sm pb-1">Project Name</p>
      <input
        [(ngModel)]="data.name"
        name="name"
        class="w-full px-3 py-2 border border-(--color-azure-300) rounded focus:outline-none focus:ring-2 focus:ring-(--color-azure-200)"
      />
    </div>

    <div>
      <p class="block text-sm pb-1">Short Description</p>
      <textarea
        [(ngModel)]="data.description"
        name="description"
        class="w-full px-3 py-2 border border-(--color-azure-300) rounded focus:outline-none focus:ring-2 focus:ring-(--color-azure-200)"
        rows="5"
        cols="30"
      ></textarea>
    </div>

    <div>
      <p class="block text-sm pb-1">Features</p>
      <textarea
        [(ngModel)]="data.features"
        name="features"
        class="w-full px-3 py-2 border border-(--color-azure-300) rounded focus:outline-none focus:ring-2 focus:ring-(--color-azure-200) no-resize"
        placeholder="A favourites section..."
        rows="6"
        cols="30"
      ></textarea>
    </div>

    <div>
      <p class="block text-sm pb-1">Install</p>
      <textarea
        [(ngModel)]="data.install"
        name="install"
        class="w-full px-3 py-2 border border-(--color-azure-300) rounded focus:outline-none focus:ring-2 focus:ring-(--color-azure-200) no-resize"
        placeholder="Packages installed or dependencies"
        rows="6"
        cols="30"
      ></textarea>
    </div>

    <div class="flex gap-2 relative">
      <button
        type="submit"
        class="px-4 py-2 text-white bg-(--color-azure-300) cursor-pointer rounded"
      >
        Generate
      </button>
      <button
        type="button"
        (click)="copy()"
        class="px-4 py-2 border border-(--color-azure-300) cursor-pointer rounded"
      >
        Copy
      </button>
      <p
        *ngIf="copyMessage"
        class="ml-2 text-sm text-(--color-azure-400) transition-opacity duration-300 absolute right-0 bottom-0"
      >
        {{ copyMessage }}
      </p>
    </div>
  </form>

  <div class="w-full p-6 h-190 max-md:pb-28">
    <h3 class="font-semibold max-md:pl-2 text-xl">Preview</h3>
    <pre
      class="p-5 overflow-auto text-white rounded-md bg-(--color-azure-500) shadow-md mt-8 h-full"
      style="white-space: pre-wrap"
      >{{ markdown }}</pre
    >
  </div>
</section>