<div class="max-w-4xl mx-auto">
  <h2 class="mb-3 text-xl font-semibold">README Generator</h2>

  <form (ngSubmit)="generate()" class="p-6 space-y-4 bg-white rounded shadow">
    <div>
      <label class="block text-sm text-gray-600">Project Name</label>
      <input
        [(ngModel)]="data.name"
        name="name"
        class="w-full px-3 py-2 border rounded"
      />
    </div>

    <div>
      <label class="block text-sm text-gray-600"> Short Description</label>
      <textarea
        [(ngModel)]="data.description"
        name="description"
        class="w-full px-3 py-2 border rounded"
        rows="6"
        cols="30"
      ></textarea>
    </div>

      <div>
        <label class="block text-sm text-gray-600"> Features </label>
        <textarea
          [(ngModel)]="data.features"
          name="features"
          class="w-full px-3 py-2 border rounded no-resize"
          placeholder="A favourites section..."
          rows="6"
          cols="30"
        ></textarea>
      </div>

      <div>
        <label class="block text-sm text-gray-600">Install</label>
        <textarea
          [(ngModel)]="data.install"
          name="install"
          class="w-full px-3 py-2 border rounded no-resize"
          placeholder="Packages installed or dependencies"
          rows="6"
          cols="30"
        ></textarea>
      </div>

    <div class="flex gap-2">
      <button type="submit" class="px-4 py-2 text-white bg-blue-600 rounded">
        Generate
      </button>
      <button
        type="button"
        (click)="copy()"
        class="px-4 py-2 bg-gray-200 rounded"
      >
        Copy
      </button>
    </div>
    <span
      *ngIf="copyMessage"
      class="ml-2 text-sm text-green-600 transition-opacity duration-300"
    >
      {{ copyMessage }}
    </span>
  </form>

  <div class="mt-6">
    <h3 class="font-medium">Preview</h3>
    <pre
      class="p-4 mt-2 overflow-auto text-white rounded bg-slate-900"
      style="white-space: pre-wrap"
      >{{ markdown }}</pre
    >
  </div>
</div>