<nav class="sticky top-0 px-28 py-4 max-lg:px-6 text-lg bg-(--color-azure-100) z-50">
  <div class="relative flex items-center justify-between">
    <a
      href="https://treciaks-dev.vercel.app"
      class="logo"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/logo.png"
        alt="TreciaKS Logo"
        class="rounded-full shadow-md w-14 h-14 max-lg:w-10 max-lg:h-10"
      />
    </a>

    <button (click)="toggleMenu()" class="absolute text-3xl right-4 md:hidden">
      ☰
    </button>

    <ul class="flex items-center space-x-8 text-lg tracking-wide max-md:hidden">
      <li>
        <a
          routerLink="/"
          routerLinkActive="text-(--color-azure-300) font-medium"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/dashboard"
          routerLinkActive="text-(--color-azure-300) font-medium"
          >User Search</a
        >
      </li>
      <li>
        <a
          routerLink="/starter-finder"
          routerLinkActive="text-(--color-azure-300) font-medium"
          >Starter Finder</a
        >
      </li>
      <li>
        <a
          routerLink="/readme"
          routerLinkActive="text-(--color-azure-300) font-medium"
          >Generate ReadMe</a
        >
      </li>
    </ul>
  </div>

  <!-- Mobile dropdown -->
  <ul
    *ngIf="menuOpen"
    class="absolute p-4 mt-3 space-y-2 border border-(--color-azure-200) rounded-lg md:hidden bg-(--color-azure-400) w-[88%] mx-auto text-(--color-azure-100) z-50"
  >
    <li><a routerLink="/" (click)="closeMenu()">Home</a></li>
    <li><a routerLink="/dashboard" (click)="closeMenu()">User Search</a></li>
    <li>
      <a routerLink="/starter-finder" (click)="closeMenu()">Starter Finder</a>
    </li>
    <li><a routerLink="/readme" (click)="closeMenu()">Generate ReadMe</a></li>
  </ul>
</nav>
