<section class="relative overflow-hidden">
  <app-astro-side></app-astro-side>
  <div
    class="w-3/4 absolute top-0 bg-(--color-azure-100) h-full px-20 max-md:px-6 max-lg:pb-20 max-lg:relative max-lg:w-full"
  >
    <div class="mb-4">
      <div class="py-5">
        <h1 class="font-bold text-2xl text-(--color-azure-500)">
          GitHub username
        </h1>
        <p class="text-(--color-azure-400) pt-2">
          Search the desired GitHub user to see their repos, contributions,
          follower and other cool information.
        </p>
      </div>
      <div class="flex gap-2 mt-2">
        <input
          [(ngModel)]="username"
          (keyup.enter)="loadUser()"
          class="flex-1 px-3 py-2 border border-(--color-azure-300) rounded focus:outline-none focus:ring-2 focus:ring-(--color-azure-200)"
          placeholder="e.g. TreciaKS"
        />
        <button
          (click)="loadUser()"
          class="px-4 py-2 text-white bg-(--color-azure-300) rounded cursor-pointer"
        >
          Search
        </button>
      </div>
    </div>

    <app-loader *ngIf="loading"></app-loader>

    <div
      *ngIf="repos.length && !loading"
      class=""
    >
      <section
        *ngIf="user && !loading"
        class="flex bg-white rounded-lg shadow-lg md:col-span-2 justify-between px-2 h-40 items-center gap-x-2.5"
      >
        <div class="mx-auto max-lg:w-1/3 max-md:w-2/4">
          <img
            [src]="user.avatar_url"
            class="object-cover w-24 h-24 mx-auto rounded-full"
            alt="user avatar"
          />
          <h2
            class="text-lg font-semibold text-center text-(--color-azure-500) capitalize"
          >
            {{ user.login || user.name }}
          </h2>
        </div>

        <div class="px-4 py-2 lg:w-3/4 max-lg:w-full max-md:px-0 max-md:pr-2.5">
          <p class="text-sm font-medium">{{ truncateText(user.bio!, 110)|| "No bio" }}</p>
          <div class="flex items-center justify-between pt-5 text-sm">
            <p class="">Repos: {{ user.public_repos }}</p>
            <a
              [href]="user.html_url"
              target="_blank"
              class="my-2 block text-(--color-azure-300)"
              >GitHub <span class="text-xs">&nearr;</span></a
            >
          </div>
          <div class="flex items-center justify-between pt-0 text-sm">
            <p class="mr-4">Followers: {{ user.followers }}</p>
            <p>Following: {{ user.following }}</p>
          </div>
        </div>
      </section>
      <div class="h-145 pt-6 [&>div]:w-full overflow-y-scroll overflow-x-hidden grid grid-cols-3 mt-6 max-lg:grid-cols-2 max-md:grid-cols-1 max-md:gap-2 gap-4">
        <app-repo-card *ngFor="let repo of repos" [repo]="repo"></app-repo-card>
      </div>
    </div>

    <app-not-found
      *ngIf="emptySearch"
      message="Enter a GitHub username"
      suggestion="Type a name to explore their profile and repos."
    >
    </app-not-found>

    <app-not-found
      *ngIf="notFound"
      message="User not found"
      suggestion="Double-check the username or try another."
    >
    </app-not-found>
  </div>
</section>
